<div>
  <span class="dashboard-action" id="reload-button">Reload from server</span>
  <span class="dashboard-action" id="send-button">Send to server</span>
  <span class="dashboard-action" id="export-button">Export</span>
  <span class="dashboard-action" id="import-button">
    <label>Import <input id="import-file" type="file" hidden /></label>
  </span>
</div>

<div id="dashboard-configuration">
  <h4>General configuration</h4>
  <form id="form-dashboard">
    <div>
      <label for="dashboard-header-text">Dashboard Header Text</label>
      <input
        type="text"
        id="dashboard-header-text"
        name="dashboard-header-text"
      />
    </div>

    <div>
      <label for="dashboard-footer-text">Dashboard Footer Text</label>
      <input
        type="text"
        id="dashboard-footer-text"
        name="dashboard-footer-text"
      />
    </div>

    <div>
      <span class="dashboard-action" id="dashboard-save-button">Save</span>
    </div>
  </form>
</div>

<div id="cards-configuration">
  <div class="list">
    <h4>Cards</h4>
    <label for="cards-list">Select a card</label>
    <select name="cards-list" id="cards-list" size="8">
      <option></option>
    </select>
    <div>
      <span class="dashboard-action" id="new-card-button">New card</span>
      <span class="dashboard-action" id="clone-card-button">Clone card</span>
      <span class="dashboard-action" id="delete-card-button">Delete card</span>
    </div>
  </div>

  <div class="tabs">
    <h4>Card</h4>
    <nav>
      <span class="card-tab dashboard-action" data-activate-class="card-meta"
        >Meta</span
      >
      <span class="card-tab dashboard-action" data-activate-class="card-input"
        >Input</span
      >
      <span
        class="card-tab dashboard-action"
        data-activate-class="card-ingestion"
        >Ingestion</span
      >
      <span class="card-tab dashboard-action" data-activate-class="card-output"
        >Visualization</span
      >
      <span class="card-tab dashboard-action" data-activate-class="card-report"
        >Reporting</span
      >
    </nav>
  </div>

  <div>
    <div class="card-tab-container card-meta">
      <h4>Meta</h4>
      <form id="form-card-meta">
        <label for="meta-title">Title</label>
        <input type="text" id="meta-title" name="meta-title" />

        <label for="meta-order">Order</label>
        <input type="number" id="meta-order" name="meta-order" />

        <label for="meta-base-size">Base size (with CSS unit)</label>
        <input type="text" id="meta-base-size" name="meta-base-size" />

        <label for="meta-footer">Footer</label>
        <input type="text" id="meta-footer" name="meta-footer" />

        <div>
          <span class="dashboard-action" id="meta-save-button">Save</span>
        </div>
      </form>
    </div>

    <div class="card-tab-container card-input">
      <form id="form-card-input">
        <h4>Inputs</h4>
        <label for="card-inputs-list">Select an input</label>
        <select name="card-inputs-list" id="card-inputs-list" size="8">
          <option></option>
        </select>
        <div>
          <span class="dashboard-action" id="input-new-button">New input</span>
          <span class="dashboard-action" id="input-clone-button"
            >Clone input</span
          >
          <span class="dashboard-action" id="input-delete-button"
            >Delete input</span
          >
        </div>

        <h4>Input</h4>
        <label for="input-label">Label</label>
        <input type="text" id="input-label" name="input-label" />

        <label for="input-type">Type</label>
        <select name="input-type" id="input-type">
          <option value="text">Text</option>
        </select>

        <label for="input-name">Field name</label>
        <input type="text" id="input-name" name="input-name" />

        <label for="input-value">Value</label>
        <input type="text" id="input-value" name="input-value" />

        <div>
          <span class="dashboard-action" id="input-save-button">Save</span>
        </div>
      </form>
    </div>

    <div class="card-tab-container card-ingestion">
      <h4>Data ingestion</h4>
      <form id="form-card-ingestion">
        <label for="endpoint-url">Endpoint URL template:</label>
        <input
          type="text"
          name="endpoint-url"
          id="endpoint-url"
          value="https://endpoint.com:5555/api/client/${client-id-}"
        />

        <label for="endpoint-method">Endpoint VERB:</label>
        <select name="endpoint-method" id="endpoint-method">
          <option value="GET">GET</option>
          <option value="POST">POST</option>
        </select>

        <div id="endpoint-body-type-group">
          <label for="endpoint-body-type">Body type:</label>
          <select name="endpoint-body-type" id="endpoint-body-type">
            <option value="none" selected>-- no body --</option>
            <option value="json">JSON</option>
            <option value="graphql">GraphQL</option>
          </select>

          <div id="endpoint-body-template-group">
            <label for="endpoint-body-template">Body template:</label>
            <div id="endpoint-body-template"></div>
          </div>
        </div>

        <div>
          <span class="dashboard-action" id="ingestion-save-button">Save</span>
        </div>
      </form>
    </div>

    <div class="card-tab-container card-output">
      <h4>Visualization</h4>
      <form id="form-card-viz">
        <label for="viz-type">Type:</label>
        <select name="viz-type" id="viz-type">
          <option value="text">Text</option>
          <option value="pie">Pie Chart</option>
        </select>

        <div id="viz-type-text-group">
          <label for="viz-text-text-template">Text template</label>
          <input
            type="text"
            name="viz-text-text-template"
            id="viz-text-text-template"
            value="Total: ${value} records"
          />
        </div>

        <div id="viz-type-pie-group">
          <label for="viz-pie-object-array-property"
            >Object array property</label
          >
          <input
            type="text"
            name="viz-pie-object-array-property"
            id="viz-pie-object-array-property"
          />

          <label for="viz-pie-label-template">Label template</label>
          <input
            type="text"
            name="viz-pie-label-template"
            id="viz-pie-label-template"
          />

          <label for="viz-pie-value-property">Value property</label>
          <input
            type="text"
            name="viz-pie-value-property"
            id="viz-pie-value-property"
          />
        </div>

        <div>
          <span class="dashboard-action" id="viz-save-button">Save</span>
        </div>
      </form>
    </div>

    <div class="card-tab-container card-report">
      <h4>Reporting</h4>
      <form id="form-card-report">
        <div>
          <input type="checkbox" id="report-allow" name="report-allow" />
          <label for="report-allow">Allow download</label>
        </div>

        <label for="report-format">Format</label>
        <select id="report-format" name="report-format">
          <option value="">-- none --</option>
          <option value="csv">CSV - Comma-Separated Values</option>
          <option value="txt">TXT - Tab-Separated Values</option>
          <option value="html">HTML - HTML tables</option>
          <option value="ods">ODS - OpenDocument Spreadsheet</option>
          <option value="xlsx">
            XLSX - Excel 2007+ XML Formats (XLSX/XLSM)
          </option>
          <option value="xlsb">
            XLSB - Excel 2007+ Binary Format (XLSB BIFF12)
          </option>
          <option value="xls">XLS - Excel 97-2004 (XLS BIFF8)</option>
        </select>

        <label for="report-object-array-property">Object array property</label>
        <input
          type="text"
          name="report-object-array-property"
          id="report-object-array-property"
        />

        <div>
          <span class="dashboard-action" id="report-save-button">Save</span>
        </div>
      </form>
    </div>
  </div>
</div>
