#dashboard {
  flex: 1;

  display: flex;
  flex-flow: column;

  overflow: hidden;
}

#dashboard > header,
#dashboard > footer {
  margin: 5px;
  padding: 5px;

  display: flex;
  justify-content: space-between;
}

#dashboard > .toolbar {
  flex: 1;
  display: flex;
}

#dashboard > .toolbar > * {
  padding-left: 5px;
}

#dashboard > .cards {
  flex: 1;

  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

#dashboard > .cards > .card {
  flex: 0 0 auto;
  margin: 5px;
  padding: 5px;

  display: flex;
  flex-flow: column;
}

#dashboard > .cards > .card > * {
  flex: 1;
}

#dashboard > .cards > .card > header,
#dashboard > .cards > .card > footer {
  flex: 0 1 auto;
}

#dashboard > .cards > .card > header {
  font-weight: bold;
}

#dashboard > .cards > .card > footer {
  font-style: italic;
}

#dashboard > .cards > .card > article {
  flex: 1;
}

.dashboard-action {
  color: #666;
  cursor: pointer;
  border: 1px solid #999;
  border-radius: 5px;
  padding: 3px;
  margin: 2px;
  display: inline-block;
  transition: all 0.2s ease;
  text-align: center;
}

.dashboard-action:hover {
  color: black;
  background-color: #eee;
  transform: translateY(-1px);
  box-shadow: 1px 1px 2px #aaa;
}
